{
  "$schema": "http://json.schemastore.org/semantic-release",
  "branches": [
    "main",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "zcli.ts"
            ],
            "from": "const VERSION = \".*\";",
            "to": "const VERSION = \"${nextRelease.version}\";",
            "results": [
              {
                "file": "zcli.ts",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          },
          {
            "files": [
              "zcli.ts"
            ],
            "from": "const COMMIT = \".*\";",
            "to": "const COMMIT = \"${nextRelease.gitHead}\";",
            "results": [
              {
                "file": "zcli.ts",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "deno task compile \\\ncd bin/linux \\\nzip -r zcli-linux.zip zcli \\\ncd ../macos \\\nzip -r zcli-macos.zip zcli \\\ncd ../macos-arm \\\nzip -r zcli-macos-arm.zip zcli \\\ncd ../windows \\\nzip -r zcli-windows.zip zcli.exe \\\ncd ../.."
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "bin/linux/zcli-linux.zip",
            "name": "zcli-linux.zip",
            "label": "Download zCLI for Linux"
          },
          {
            "path": "bin/macos/zcli-macos.zip",
            "name": "zcli-macos.zip",
            "label": "Download zCLI for macOS x64 (Intel)"
          },
          {
            "path": "bin/macos-arm/zcli-macos-arm.zip",
            "name": "zcli-macos-arm.zip",
            "label": "Download zCLI for macOS ARM (Apple silicon, e.g. M1/M2)"
          },
          {
            "path": "bin/windows/zcli-windows.zip",
            "name": "zcli-windows.zip",
            "label": "Download zCLI for Windows"
          }
        ]
      }
    ]
  ]
}
